
{% extends 'common/base.html' %}
{% block title %} Stock | Clarion Point of Sale System {% endblock %}
{% block content %}
  <!-- To display the messages -->
  <!-- The messages -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}


  <!-- To let the message disappear after a few seconds -->
  <script>
      setTimeout(function() {
          $('.alert').fadeOut('slow');
      }, 3000);
  </script>
<!-- End of message script -->


<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Products in {{ store.name }}</h2>
        <div>
          <a class="btn btn-secondary rounded mr-2" href="{% url 'inventory:store_stock' %}">
            <i class="fa fa-chevron-left mr-1"></i>Back to Stores list
          </a>
          <a class="btn btn-success rounded" href="{% url 'inventory:stock_create' store.id %}" style="margin-left: 10px;">
            <i class="fa fa-plus mr-2" style="font-size: 20px;"></i>Add Stock
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
                <th>Product Name</th>
                <th>Total</th>
                <th>Quantity in Cartons</th>
                <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for stock_item in stock_data %}
            <tr>
              <td>{{ stock_item.product.name }}</td>
              <td>{{ stock_item.quantity }}</td>
              <td>{{ stock_item.total_cartons }} cartons and {{ stock_item.remaining_pieces }} pieces</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-primary mr-2 rounded" href="{% url 'inventory:stock_detail' store.id stock_item.product.id %}">Detail</a>
                   <a class="btn btn-warning mr-2 rounded" href="{% url 'inventory:stock_update' store.id stock_item.product.id %}">Update</a>
                   <a class="btn btn-danger mr-2 rounded" href="{% url 'inventory:stock_delete' store.id stock_item.product.id %}">Delete</a>
                </div>
              </td>
            </tr>
            {% endfor %}
            
             
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

