{% extends 'common/base.html' %}
{% block title %}View Details{% endblock %}
{% block content %}
<!-- View details -->
<div class="container">
    <div class="row">
      <div class="col mx-auto">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Select the store you wish to view stock for</h5>
            <p class="card-text">Click below</p>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select a store
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for store in stores %}
                    <a class="dropdown-item" href="{% url 'inventory:stock_list' store.id %}">{{ store.name }}</a>
                    {% endfor %}
                </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
