{% load static %}

  <div class="sidebar" data-color="" data-background-color="" data-image="">
      <div class="logo">
        <a target="_self" rel="noopener noreferrer" href="{% url 'admin_dashboard:dashboard' %}" class="simple-text logo-normal">
          <img src="{% static 'images/logos/clarion_logo.svg' %}" alt="Logo" height="40" class="mr-2 rounded">
          <br>
          Clarion Point of Sale
        </a>
        
      </div>
      <!-- Sidebar content -->
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if user.is_authenticated and user.is_superuser %}
          <!-- Sales -->
          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">currency_exchange</i>
              <p>Sales</p>
            </a>
            <ul><a href="{% url 'admin_dashboard:select_sale_store' %}">View Sales by Store</a></ul>
          </li>
          <!-- End of Sales -->
          <hr>
          <!-- Users -->
          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">group</i>
              <p>Users</p>
            </a>
            <ul>
              <a href="{% url 'inventory:user_list' %}">View Users</a>
            </ul>
          </li>
          <!-- End of Users -->
          <hr>

          <!-- Inventory -->
          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">inventory_2</i>
              <p>Inventory</p>
            </a>
            <ul><a href="{% url 'inventory:category_list' %}">Categories</a></ul>
            <ul><a href="{% url 'inventory:product_list' %}">Products</a></ul>
            <ul><a href="{% url 'inventory:store_list' %}">Stores</a></ul>
            <ul><a href="{% url 'inventory:store_stock' %}">Stock</a></ul>
          </li>
          <!-- End of Inventory -->
          <hr>
          <br>
          <!-- Logout -->
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>
          <!-- End of logout -->

          <!-- <li class="nav-item active-pro ">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
              <i class="material-icons">unarchive</i>
              <p>Visit Site</p>
            </a>
          </li> -->

        {% else %}
<!-- 
          <li class="nav-item active">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
              <i class="material-icons">unarchive</i>
              <p>Visit Site</p>
            </a>
          </li>           -->

        {% endif %}
        </ul>
      </div>
      <!-- End of sidebar content -->
    </div>
